/* TASK3 CSS DOCUMENT */
/* reset */
body, 
section, 
div,
p,
ul,
li {
	margin: 0;
	padding: 0;
	font: 14px "Microsoft Yahei";
}

ul, li {
	list-style: none;
}

/* 公共类设置 */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.clearfix {
	*zoom: 1;
}

.fl {
	float: left;
}
.fr {
	float: right;
}

/* 局部设置 */
.container {
	min-width: 400px;
	margin: 20px;
	padding: 20px;
	background-color: #eee;
	border: 1px solid #999;
}

.main-wrap {
	width: 100%;
}
.aside-wrap {
	width: 78px;
	margin-left: -120px;
	padding: 20px;
	border: 1px solid #999;
	background-color: #fff;
}

.team-wrap {
	width: 158px;
	border: 1px solid #999;
	background-color: #fff;
	padding: 20px;
}
.team-wrap .logo {
	width: 38px;
	height: 38px;
	padding: 20px;
	border: 1px solid #999;
	background-color: #eee;
	float: left;
}
.team-wrap .intro {
	margin-left: 100px;
}
.intro-wrap {
	margin-left: 220px;
	margin-right: 140px;
	border: 1px solid #999;
	background-color: #fff;
	padding: 20px;
}
.intro-wrap p {
	margin-bottom: 20px;
}
.intro-wrap p:last-of-type {
	margin-bottom: 0;
}
.aside-wrap .logo {
	width: 38px;
	height: 38px;
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid #999;
	background-color: #eee;
	text-align: center;
}
.aside-wrap .logo:last-of-type {
	margin-bottom: 0;
}